# Git
.git
.gitignore
.gitattributes

# Build files
target/
!target/*.jar

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
README.md
LICENSE
